pandas
numpy
torch
tqdm
peft 
sentencepiece
openai
accelerate
colorama
cpm_kernels
sentencepiece
streamlit
transformers_stream_generator
transformers==4.31.0
tiktoken
einops
scipy
jieba
rouge_chinese
nltk
FlagEmbedding
